.dialogs {
   display:grid;
   grid-template-columns: 2fr 10fr;
   background-color: darkgrey;

}

.dialogsItems .dialog {
   color:rosybrown;
}

.dialogsItems .active {
   color:gold;
}

.dialogsItems {

}

.messages {

}

.messages .message {

}

