.user {
   display:grid;
   grid-template-columns: 3fr 9fr;
   background-color: darkgrey;
   text-align: center;

}

.avaImg {
   width: 150px;
   height:150px;
   border-radius: 100px;


}

.background {
   background-color: darkgrey;
}

.item {
   color:gold;
}

.number {
   padding-top: 15px;
   padding-bottom: 15px;;
   text-align: center;
}

.number span {
   padding-left: 5px;
}

